@import "tailwindcss";
@source "../components/common/**/*.{ts,tsx}";
@source "../components/shadcn/**/*.{ts,tsx}";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --border: oklch(92.76% 0.0058 264.5/ 1.00);
--border-90: oklch(92.76% 0.0058 264.5/ 0.90);
--border-80: oklch(92.76% 0.0058 264.5/ 0.80);
--input: oklch(92.76% 0.0058 264.5/ 1.00);
--input-90: oklch(92.76% 0.0058 264.5/ 0.90);
--input-80: oklch(92.76% 0.0058 264.5/ 0.80);
--ring: oklch(60.91% 0.2339 321.7/ 1.00);
--ring-90: oklch(60.91% 0.2339 321.7/ 0.90);
--ring-80: oklch(60.91% 0.2339 321.7/ 0.80);
--background: oklch(100.00% 0.0000 0/ 1.00);
--background-90: oklch(100.00% 0.0000 0/ 0.90);
--background-80: oklch(100.00% 0.0000 0/ 0.80);
--foreground: oklch(12.96% 0.0274 261.7/ 1.00);
--foreground-90: oklch(12.96% 0.0274 261.7/ 0.90);
--foreground-80: oklch(12.96% 0.0274 261.7/ 0.80);
--foreground-50: oklch(12.96% 0.0274 261.7/ 0.50);
--primary: oklch(60.91% 0.2339 321.7/ 1.00);
--primary-90: oklch(60.91% 0.2339 321.7/ 0.90);
--primary-80: oklch(60.91% 0.2339 321.7/ 0.80);
--primary-foreground: oklch(98.46% 0.0017 247.8/ 1.00);
--primary-foreground-90: oklch(98.46% 0.0017 247.8/ 0.90);
--primary-foreground-80: oklch(98.46% 0.0017 247.8/ 0.80);
--secondary: oklch(79.72% 0.1638 69.6/ 1.00);
--secondary-90: oklch(79.72% 0.1638 69.6/ 0.90);
--secondary-80: oklch(79.72% 0.1638 69.6/ 0.80);
--secondary-foreground: oklch(21.01% 0.0318 264.7/ 1.00);
--secondary-foreground-90: oklch(21.01% 0.0318 264.7/ 0.90);
--secondary-foreground-80: oklch(21.01% 0.0318 264.7/ 0.80);
--destructive: oklch(60.62% 0.2298 9.6/ 1.00);
--destructive-90: oklch(60.62% 0.2298 9.6/ 0.90);
--destructive-80: oklch(60.62% 0.2298 9.6/ 0.80);
--destructive-50: oklch(60.62% 0.2298 9.6/ 0.50);
--destructive-foreground: oklch(98.46% 0.0017 247.8/ 1.00);
--destructive-foreground-90: oklch(98.46% 0.0017 247.8/ 0.90);
--destructive-foreground-80: oklch(98.46% 0.0017 247.8/ 0.80);
--muted: oklch(96.70% 0.0029 264.5/ 1.00);
--muted-90: oklch(96.70% 0.0029 264.5/ 0.90);
--muted-80: oklch(96.70% 0.0029 264.5/ 0.80);
--muted-50: oklch(96.70% 0.0029 264.5/ 0.50);
--muted-40: oklch(96.70% 0.0029 264.5/ 0.40);
--muted-foreground: oklch(55.10% 0.0234 264.4/ 1.00);
--muted-foreground-90: oklch(55.10% 0.0234 264.4/ 0.90);
--muted-foreground-80: oklch(55.10% 0.0234 264.4/ 0.80);
--accent: oklch(96.70% 0.0029 264.5/ 1.00);
--accent-90: oklch(96.70% 0.0029 264.5/ 0.90);
--accent-80: oklch(96.70% 0.0029 264.5/ 0.80);
--accent-50: oklch(96.70% 0.0029 264.5/ 0.50);
--accent-foreground: oklch(21.01% 0.0318 264.7/ 1.00);
--accent-foreground-90: oklch(21.01% 0.0318 264.7/ 0.90);
--accent-foreground-80: oklch(21.01% 0.0318 264.7/ 0.80);
--popover: oklch(100.00% 0.0000 0/ 1.00);
--popover-90: oklch(100.00% 0.0000 0/ 0.90);
--popover-80: oklch(100.00% 0.0000 0/ 0.80);
--popover-foreground: oklch(12.96% 0.0274 261.7/ 1.00);
--popover-foreground-90: oklch(12.96% 0.0274 261.7/ 0.90);
--popover-foreground-80: oklch(12.96% 0.0274 261.7/ 0.80);
--card: oklch(100.00% 0.0000 0/ 1.00);
--card-90: oklch(100.00% 0.0000 0/ 0.90);
--card-80: oklch(100.00% 0.0000 0/ 0.80);
--card-foreground: oklch(12.96% 0.0274 261.7/ 1.00);
--card-foreground-80: oklch(12.96% 0.0274 261.7/ 0.80);
--card-foreground-90: oklch(12.96% 0.0274 261.7/ 0.90);
--primary-50: oklch(60.91% 0.2339 321.7/ 0.50);
--primary-20: oklch(60.91% 0.2339 321.7/ 0.20);
--primary-10: oklch(60.91% 0.2339 321.7/ 0.10);
--sidebar: oklch(98.51% 0.0000 0/ 1.00);
--sidebar-foreground: oklch(14.08% 0.0044 285.8/ 1.00);
--sidebar-primary: oklch(60.91% 0.2339 321.7/ 1.00);
--sidebar-primary-foreground: oklch(96.91% 0.0161 293.8/ 1.00);
--sidebar-accent: oklch(96.74% 0.0013 286.4/ 1.00);
--sidebar-accent-foreground: oklch(21.03% 0.0059 285.9/ 1.00);
--sidebar-border: oklch(91.97% 0.0040 286.3/ 1.00);
--sidebar-ring: oklch(60.91% 0.2339 321.7/ 1.00);
--chart-1: oklch(64.81% 0.2166 37.1/ 1.00);
--chart-2: oklch(60.49% 0.1070 184.2/ 1.00);
--chart-3: oklch(39.72% 0.0698 227.2/ 1.00);
--chart-4: oklch(83.09% 0.1714 81.5/ 1.00);
--chart-5: oklch(77.12% 0.1721 65.7/ 1.00);
  --spacing-0: 0px;
--spacing-1: 4px;
--spacing-2: 8px;
--spacing-3: 12px;
--spacing-4: 16px;
--spacing-5: 20px;
--spacing-6: 24px;
--spacing-7: 28px;
--spacing-8: 32px;
--spacing-9: 36px;
--spacing-10: 40px;
--spacing-11: 44px;
--spacing-12: 48px;
--radius-rounded-sm: 8px;
--radius-rounded-md: 10px;
--radius-rounded-lg: 12px;
--radius-rounded-xl: 16px;
--radius-rounded-full: 9999px;
--text-foreground: var(--foreground-100);
--text-primary: var(--primary-100);
--text-primary-foreground: var(--primary-foreground-100);
--text-secondary: var(--secondary-100);
--text-secondary-foreground: var(--secondary-foreground-100);
--text-muted: var(--muted-100);
--text-muted-foreground: var(--muted-foreground-100);
--text-accent: var(--accent-100);
--text-accent-foreground: var(--accent-foreground-100);
--text-destructive: var(--destructive-100);
--text-destructive-foreground: var(--destructive-foreground-100);
--text-popover-foreground: var(--popover-foreground-100);
--bg-background: var(--background-100);
--bg-background-90: var(--background-90);
--bg-background-80: var(--background-80);
--bg-primary: var(--primary-100);
--bg-primary-90: var(--primary-90);
--bg-primary-80: var(--primary-80);
--bg-primary-20: var(--primary-20);
--bg-primary-10: var(--primary-10);
--bg-secondary: var(--secondary-100);
--bg-secondary-90: var(--secondary-90);
--bg-secondary-80: var(--secondary-80);
--bg-destructive: var(--destructive-100);
--bg-destructive-90: var(--destructive-90);
--bg-destructive-80: var(--destructive-80);
--bg-accent: var(--accent-100);
--bg-accent-90: var(--accent-90);
--bg-accent-80: var(--accent-80);
--bg-accent-50: var(--accent-50);
--bg-muted: var(--muted-100);
--bg-muted-90: var(--muted-90);
--bg-muted-80: var(--muted-80);
--bg-muted-50: var(--muted-50);
--bg-popover: var(--popover-100);
--bg-border: var(--border-100);
--bg-input: var(--input-100);
--border-border: var(--border-100);
--border-input: var(--input-100);
--border-foreground: var(--foreground-100);
--border-foreground-50: var(--foreground-50);
--border-primary: var(--primary-100);
--border-primary-50: var(--primary-50);
--border-primary-foreground: var(--primary-foreground-100);
--border-destructive: var(--destructive-50);
--border-toast-destructive: var(--muted-40);
--border-muted: var(--muted-100);
--fill-foreground: var(--foreground-100);
--fill-foreground-50: var(--foreground-50);
--fill-primary: var(--primary-100);
   --radius:0.75rem;
}

.dark {
  --border: oklch(30.26% 0.0109 278.2/ 1.00);
--border-90: oklch(30.26% 0.0109 278.2/ 0.90);
--border-80: oklch(30.26% 0.0109 278.2/ 0.80);
--input: oklch(36.92% 0.0068 286.1/ 1.00);
--input-90: oklch(36.92% 0.0068 286.1/ 0.90);
--input-80: oklch(36.92% 0.0068 286.1/ 0.80);
--ring: oklch(60.91% 0.2339 321.7/ 1.00);
--ring-90: oklch(60.91% 0.2339 321.7/ 0.90);
--ring-80: oklch(60.91% 0.2339 321.7/ 0.80);
--background: oklch(22.58% 0.0154 285.1/ 1.00);
--background-90: oklch(22.58% 0.0154 285.1/ 0.90);
--background-80: oklch(22.58% 0.0154 285.1/ 0.80);
--foreground: oklch(98.46% 0.0017 247.8/ 1.00);
--foreground-90: oklch(98.46% 0.0017 247.8/ 0.90);
--foreground-80: oklch(98.46% 0.0017 247.8/ 0.80);
--foreground-50: oklch(98.46% 0.0017 247.8/ 0.50);
--primary: oklch(60.91% 0.2339 321.7/ 1.00);
--primary-90: oklch(60.91% 0.2339 321.7/ 0.90);
--primary-80: oklch(60.91% 0.2339 321.7/ 0.80);
--primary-foreground: oklch(98.46% 0.0017 247.8/ 1.00);
--primary-foreground-90: oklch(98.46% 0.0017 247.8/ 0.90);
--primary-foreground-80: oklch(98.46% 0.0017 247.8/ 0.80);
--secondary: oklch(27.81% 0.0296 256.8/ 1.00);
--secondary-90: oklch(27.81% 0.0296 256.8/ 0.90);
--secondary-80: oklch(27.81% 0.0296 256.8/ 0.80);
--secondary-foreground: oklch(98.46% 0.0017 247.8/ 1.00);
--secondary-foreground-90: oklch(98.46% 0.0017 247.8/ 0.90);
--secondary-foreground-80: oklch(98.46% 0.0017 247.8/ 0.80);
--destructive: oklch(60.62% 0.2298 9.6/ 1.00);
--destructive-90: oklch(60.62% 0.2298 9.6/ 0.90);
--destructive-80: oklch(60.62% 0.2298 9.6/ 0.80);
--destructive-50: oklch(60.62% 0.2298 9.6/ 0.50);
--destructive-foreground: oklch(98.46% 0.0017 247.8/ 1.00);
--destructive-foreground-90: oklch(98.46% 0.0017 247.8/ 0.90);
--destructive-foreground-80: oklch(98.46% 0.0017 247.8/ 0.80);
--muted: oklch(30.26% 0.0109 278.2/ 1.00);
--muted-90: oklch(30.26% 0.0109 278.2/ 0.90);
--muted-80: oklch(30.26% 0.0109 278.2/ 0.80);
--muted-50: oklch(30.26% 0.0109 278.2/ 0.50);
--muted-40: oklch(30.26% 0.0109 278.2/ 0.40);
--muted-foreground: oklch(71.37% 0.0192 261.3/ 1.00);
--muted-foreground-90: oklch(71.37% 0.0192 261.3/ 0.90);
--muted-foreground-80: oklch(71.37% 0.0192 261.3/ 0.80);
--accent: oklch(23.59% 0.0210 284.7/ 1.00);
--accent-90: oklch(23.59% 0.0210 284.7/ 0.90);
--accent-80: oklch(23.59% 0.0210 284.7/ 0.80);
--accent-50: oklch(23.59% 0.0210 284.7/ 0.50);
--accent-foreground: oklch(98.46% 0.0017 247.8/ 1.00);
--accent-foreground-90: oklch(98.46% 0.0017 247.8/ 0.90);
--accent-foreground-80: oklch(98.46% 0.0017 247.8/ 0.80);
--popover: oklch(12.96% 0.0274 261.7/ 1.00);
--popover-90: oklch(12.96% 0.0274 261.7/ 0.90);
--popover-80: oklch(12.96% 0.0274 261.7/ 0.80);
--popover-foreground: oklch(98.46% 0.0017 247.8/ 1.00);
--popover-foreground-90: oklch(98.46% 0.0017 247.8/ 0.90);
--popover-foreground-80: oklch(98.46% 0.0017 247.8/ 0.80);
--card: oklch(12.96% 0.0274 261.7/ 1.00);
--card-90: oklch(12.96% 0.0274 261.7/ 0.90);
--card-80: oklch(12.96% 0.0274 261.7/ 0.80);
--card-foreground: oklch(98.46% 0.0017 247.8/ 1.00);
--card-foreground-80: oklch(98.46% 0.0017 247.8/ 0.80);
--card-foreground-90: oklch(98.46% 0.0017 247.8/ 0.90);
--primary-50: oklch(60.91% 0.2339 321.7/ 0.50);
--primary-20: oklch(60.91% 0.2339 321.7/ 0.20);
--primary-10: oklch(60.91% 0.2339 321.7/ 0.10);
--sidebar: oklch(20.64% 0.0079 285.7/ 1.00);
--sidebar-foreground: oklch(96.91% 0.0161 293.8/ 1.00);
--sidebar-primary: oklch(60.91% 0.2339 321.7/ 1.00);
--sidebar-primary-foreground: oklch(96.91% 0.0161 293.8/ 1.00);
--sidebar-accent: oklch(30.26% 0.0109 278.2/ 1.00);
--sidebar-accent-foreground: oklch(96.91% 0.0161 293.8/ 1.00);
--sidebar-border: oklch(96.91% 0.0161 293.8/ 1.00);
--sidebar-ring: oklch(60.91% 0.2339 321.7/ 1.00);
--chart-1: oklch(48.78% 0.2432 264.4/ 1.00);
--chart-2: oklch(70.19% 0.1577 160.4/ 1.00);
--chart-3: oklch(77.12% 0.1721 65.7/ 1.00);
--chart-4: oklch(60.91% 0.2339 321.7/ 1.00);
--chart-5: oklch(64.35% 0.2452 16.5/ 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}