name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '23'
          registry-url: 'https://registry.npmjs.org/'

      - uses: pnpm/action-setup@v2
        with:
          version: 10.10.0

      - uses: actions/setup-node@v3
        with:
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
