name: release

on:
  push:
    branches:
      - main

permissions:
  # contents: write permission allows:
  # - pushing tags
  # - creating releases
  contents: write

jobs:
  publish:

    runs-on: ubuntu-latest
    # trigger release only when commit message contains feat:, fix:, perf:
    if: |
      startsWith(github.event.head_commit.message, 'feat:') ||
      startsWith(github.event.head_commit.message, 'fix:') ||
      startsWith(github.event.head_commit.message, 'perf:')

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Read Node version from package.json
        id: node-version
        run: |
          NODE_VERSION=$(node -p 'require("./package.json").engines.node')
          echo "NODE_VERSION=$NODE_VERSION" >> $GITHUB_OUTPUT
          echo "NODE_VERSION=$NODE_VERSION"

      - name: Read pnpm version from package.json
        id: pnpm-version
        run: |
          PNPM_VERSION=$(node -p 'require("./package.json").packageManager.split("@")[1]')
          echo "PNPM_VERSION=$PNPM_VERSION" >> $GITHUB_OUTPUT
          echo "PNPM_VERSION=$PNPM_VERSION"

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.node-version.outputs.NODE_VERSION }}

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: ${{ steps.pnpm-version.outputs.PNPM_VERSION }}
      
      - name: Install dependencies
        run: pnpm install

      - name: Publish package
        run: |
          pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
