name: release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write
  statuses: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Read Node version from package.json
        id: node-version
        run: |
          NODE_VERSION=$(node -p 'require("./package.json").engines.node')
          echo "NODE_VERSION=$NODE_VERSION" >> $GITHUB_OUTPUT
          echo "NODE_VERSION=$NODE_VERSION"

      - name: Read pnpm version from package.json
        id: pnpm-version
        run: |
          PNPM_VERSION=$(node -p 'require("./package.json").packageManager.split("@")[1]')
          echo "PNPM_VERSION=$PNPM_VERSION" >> $GITHUB_OUTPUT
          echo "PNPM_VERSION=$PNPM_VERSION"

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.node-version.outputs.NODE_VERSION }}

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: ${{ steps.pnpm-version.outputs.PNPM_VERSION }}
      
      - name: Install dependencies
        run: pnpm install

      - name: Publish package
        run: |
          pnpm release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
